.layout {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 250px 1fr;
  grid-template-areas:
    "header header"
    "sidenav content";
  min-height: 100vh;
}

.grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr; 
  // grid-gap: 20px;
  row-gap: 20px;
  column-gap: 20px;
  align-items: stretch;
  // justify-items: start;

  grid-template-areas: "gridBlocks1 gridBlocks1 gridBlocks2"
                        "gridBlocks1 gridBlocks1 gridBlocks3";



  div:nth-child(even) {
    background-color: aqua;
  }
  div:nth-child(odd) {
    background-color: red;
  }

  .gridBlocks1 { 
    // grid-column-start: 1; grid-column-end: 3;
    grid-column: 1/3; // col short hand propery with start/end
    // grid-row-start: 1; grid-row-end: 3;
    grid-row: 1/3; //row short hand propery with start/end

    grid-area: gridBlocks1;
  
  }

}