// colors
$color-primary: #1976d2;
$color-secondary: #ff4081;
$color-text: #000000;
$color-bg: #ffffff;

$sidenav-bg: #f8fafc;
$sidenav-hover: #e5e7eb;
$sidenav-active-bg: #e0f2fe;
$sidenav-active-text: #0284c7;
$sidenav-focus: #38bdf8;
$sidenav-text: #374151;
