// typography
// $font-primary: Arial, sans-serif;
// $font-primary: 'Roboto', system-ui, sans-serif;

$font-primary: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;

$font-size-base: 14px;