<div class="section">
  <h1>Angular - Ng-Content</h1>
  <div class="sub-section">
    <h2>ng-content</h2>
    <p>ng-content is used to project content from a parent component into a child component template. <br>
      It allows a component to accept external HTML content.</p>

    <h2>ng-container</h2>
    <p>ng-container is a logical container that does not create a DOM element.</p>
    <p>ng-container tag will not appear in console and it is imaginary div and uses for conditions instread of writing in tr.</p>
    <h4>Why ng-container is Needed</h4>
    <p>Angular does not allow two structural directives on the same element.</p>
    <p>for example: div *ngIf="user" *ngFor="let item of list" </p>
    <p>so thats y in table we can use ng-Container</p>

    <h2>ng-template</h2>
    <p>ng-template defines a template that Angular does not render immediately.</p>
    <p>It is rendered only when Angular explicitly tells it to render.</p>
    <p>by default it wont display anything in ui. </p>

    <div class="row">
      <div class="col-4">
        <h4> ng-content Example:</h4> <!-- (app-my-card see )Here component selector: -->
        <app-my-card [cardTitle]="'Card Header'">
          <p>This content inside the component selector, there it will display if we use ng-content. ng-content acts as
            a placeholder</p>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Name</th>
                <th>City</th>
                <th>State</th>
              </tr>
            </thead>

            <tbody>
              @for (student of studentList; track $index) {
              <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.city}}</td>
                <td>{{student.state}}</td>
              </tr>
              }
            </tbody>
          </table>
        </app-my-card>
      </div>
      <div class="col-4">
        <h4>ng-container Example:</h4>
        <table>
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>City</th>
              <th>State</th>
            </tr>
          </thead>

          <tbody>
            @if (isLoader) {
            <ng-container>
              <tr>
                <td colspan="4">
                  <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </td>
              </tr>
            </ng-container>
            }
            @if(!isLoader) {
            <ng-container>
              @for (student of studentList; track $index) {
              <tr>
                <td>{{student.id}}</td>
                <td>{{student.name}}</td>
                <td>{{student.city}}</td>
                <td>{{student.state}}</td>
              </tr>
              }
            </ng-container>
            }
          </tbody>
        </table>

      </div>
      <div class="col-4 bg-secondary">
        <h4>ng-template Example:</h4>
        <div class="card" *ngTemplateOutlet="loader"> <!--new feauture in latest: *ngTemplateOutlet="loader"-->

        </div> 
          <ng-template #loader>
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </ng-template>

          <div *ngIf="isLoaded; else loading">
            Data Loaded
          </div>

          <ng-template #loading>
            Loading...
          </ng-template>
      </div>
    </div>
  </div>


  <div class="sub-section">
    <h2>Differences between ng-container vs ng-content vas ng-template </h2>
    <p><b>ng-container:</b> It is used to hide the element in browser dom to reduce the loading for large data
      iteration like in for loop</p>
    @for (num of numbers; track num) {
    @if (num%2==0) {
    {{num}}
    }
    }

    <p><b>ng-template:</b> By default it wont show any contet inside this element, it works only
      for structural direcive like template variable and ngif, ng for etc like then only its will appears the content
    </p>

    @if (login) {
    <div>
      Logged In Success
    </div>
    } @else {
    logged In Failed
    }
  </div>
</div>