<div class="section">
  <h1>Angular - Ng-Content</h1>
  <div class="sub-section">
    <h2>ng-content Example</h2>
    <!-- <p>It’s Angular’s way to project content from a parent into a child component.
  It creates placeholders in the child template where Angular inserts external content.</p>
  <p>ng-content is Angular’s way to project content from a parent into a child component. <br>
    It’s like a “placeholder” in a child component’s template where Angular will insert content that comes from outside the component.
  </p> -->
  <!-- <div class="sub-section">
  <h3>Interview Questions</h3>
  <p>
    <b>Q1. What is ng-content?</b> <br>
    <span>It’s Angular’s way to project content from a parent into a child component. It creates placeholders in the child template where Angular inserts external content.</span>
  </p>

  <p>
    <b>Q2. What is Content Projection?</b><br>
    <span>Content projection is the technique of passing markup from a parent component into a child component for flexible layouts.</span>
  </p>

  <p>
    <b>Q3. How do you handle multiple projection slots?</b><br>
    <span>By using ng-content with the select attribute, e.g.: <br>
      ng-content select="[header]"ng-content <br>
      ng-content select="[body]"ng-content
    </span>
  </p>
  <p>
    <b>Q4. What happens if there’s no matching content for a slot?</b> <br>
    <span>That slot remains empty.</span>
  </p>
  <p>
    <b>Q5. Can you project components, not just HTML?</b> <br>
    <span>Yes! You can project any valid Angular component or element.</span>
  </p>
</div> -->

<!-- <div>
<h3>ng-content example</h3>
<div>
  <p>Here im taking parent component as Home</p>
  <ng-content select=".grt"></ng-content> class selector
  <ng-content select=".dta"></ng-content> class selector
  <ng-content select="#dta"></ng-content>id selector
  <ng-content></ng-content> default all content selection
</div>
</div> -->

<div>
  <ng-content></ng-content>
  <ul class="list-group">
    @for (person of list; track person) {
      <li class="list-group-item">
        {{person}}
      </li>
    }
  </ul>
</div>


<div class="sub-section">
  <h2>Differences between ng-container vs ng-content vas ng-template </h2>
  <p><b>ng-container:</b> It is used to hide the element in browser dom to reduce the loading for large data iteration like in for loop</p>
  @for (num of numbers; track num) {
    @if (num%2==0) {
      {{num}}
    }
    <!-- <div *ngIf="num%2==1">
    {{num}}
  </div> -->
}

<p><b>ng-template:</b> By default it wont show any contet inside this element, it works only
for structural direcive like template variable and ngif, ng for etc like then only its will appears the content</p>

@if (login) {
  <div>
    Logged In Success
  </div>
} @else {
  logged In Failed
}
</div>
</div>
</div>