<form #photoForm="ngForm" (ngSubmit)="onSubmit(photoForm)" class="card p-3 mb-3 shadow-sm">

  <h2 class="card-title text-center mb-4">CRUD Template Reference Form - Photos</h2>

  <h5 class="mb-3">
    {{ newPhoto.id === 0 ? 'Add Photo' : 'Update Photo' }}
  </h5>

  <div class="row">
    <div class="col-6 mb-2">
      <label class="form-label">Album ID</label>
      <input
        type="number"
        class="form-control"
        name="albumId"
        [(ngModel)]="newPhoto.albumId"
        #albumIdTemp="ngModel"
        required>
        <!-- #albumId="ngModel" this line is required to make validations in temp forms -->
        @if (albumIdTemp.touched || albumIdTemp.dirty || isFormSubmitted) {
          <div>
            @if (albumIdTemp.errors?.['required']) {
            <small class="text-danger">
              Album ID is required
            </small>
            }
          </div>
        }
    </div>

    <div class="col-6 mb-2">
      <label class="form-label">Title</label>
      <input
        type="text"
        class="form-control"
        name="title"
        [(ngModel)]="newPhoto.title"
        #title="ngModel"
        required 
        minlength="5">

        @if (title.touched || title.dirty || isFormSubmitted) {
          <div>
            @if (title.errors?.['required']) {
            <small class="text-danger">
              Title is required
            </small>
            } @else if (title.errors?.['minlength']) {
              <small class="text-danger">
                Min 5 characters is required
            </small>
            }
          </div>
        }
    </div>

    <div class="col-6 mb-2">
      <label class="form-label">URL</label>
      <input
        type="text"
        class="form-control"
        name="url"
        [(ngModel)]="newPhoto.url"
        #url="ngModel"
        required
        minlength="10"
        >
        @if (url.touched || url.dirty || isFormSubmitted) {
        <div>
          @if (url.errors?.['required']) {
            <small class="text-danger">URL is required</small>
          } @else if(url.errors?.['minlength']){
            <small class="text-danger">Min 10 Characters needed</small>
          }
        </div>
        }
    </div>

    <div class="col-6 mb-2">
      <label class="form-label">Thumbnail URL</label>
      <input
        type="text"
        class="form-control"
        name="thumbnailUrl"
        [(ngModel)]="newPhoto.thumbnailUrl"
        #thumbnailUrl = "ngModel"
        required>
        @if (thumbnailUrl.touched || thumbnailUrl.dirty || isFormSubmitted) {
        <div>
          @if (thumbnailUrl.errors?.['required']) {
          <small class="text-danger">thumbnailUrl is Required</small>
          }
        </div>
        }
    </div>
  </div>

  <div class="d-flex justify-content-end gap-2 mt-3">
    <button type="button"
            class="btn btn-secondary"
            (click)="onReset(photoForm)">
      Reset
    </button>

    <button type="submit"
            class="btn btn-success"
            >
            <!-- [disabled]="photoForm.invalid" -->
      {{ newPhoto.id === 0 ? 'Save' : 'Update' }}
    </button>
  </div>

</form>

<!-- Photos List -->
<div class="card p-3 shadow-sm">
  <h5 class="mb-3">Photos List</h5>

  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Album</th>
        <th>Title</th>
        <th width="150">Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (photo of photosList; track photo.id) {
        <tr>
          <td>{{ photo.id }}</td>
          <td>{{ photo.albumId }}</td>
          <td>{{ photo.title }}</td>
          <td>
            <button class="btn btn-sm btn-primary me-2"
                    (click)="onEditPhoto(photo)">
              Edit
            </button>

            <button class="btn btn-sm btn-danger"
                    (click)="onDeletePhoto(photo.id)">
              Delete
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>



<!-- Practice template forms -->
<div class="section">
  <h1>Practicng the template forms</h1>
  <div class="sub-section">
    <h2>Goal Tracker app: https://api.freeprojectapi.com/api/GoalTracker/getAllUsers</h2>

    <div class="row">
      <div class="col-md-12 mb-4">
        <form action="" #golaTrackerForm = "ngForm">
          <div class="row mb-4">
            <div class="col-md-6">
              <label for="">Eamil Id</label>
              <input type="email" class="form-control" placeholder="abc@email.com"
              name="emailId" [(ngModel)]="goalObj.emailId" #emailId="ngModel" required email>
              @if (emailId.touched || emailId.dirty) {
                <div>
                  @if (emailId.errors?.['required']) {
                  <span class="text-danger">EmailId is Required</span>
                  } @else if(emailId.errors?.['email']){
                  <span class="text-danger">Eamil format is incorrect</span>
                  }
                </div>
              }
              
            </div>
            <div class="col-md-6">
              <label for="">password</label>
              <input type="password" class="form-control"
              name="password" [(ngModel)]="goalObj.password" #password="ngModel" required minlength="5">
              @if (password.touched || password.dirty) {
                <div>
                  @if (password.errors?.['required']) {
                    <span class="text-danger">Password is required</span>
                  } @else if (password.errors?.['minlength']) {
                    <span>Password characters should be 5</span>
                  }
                </div>
              }
            </div>
            <div class="col-md-6">
              <label for="">Full Name</label>
              <input type="text" class="form-control" placeholder="Full Name"
              name="fullName" [(ngModel)] = "goalObj.fullName" #fullName="ngModel" required>
              @if (fullName.touched || fullName.dirty) {
                <div>
                  @if(fullName.errors?.['required']) {
                    <span class="text-danger">Full Name is required</span>
                  }
                </div>
                }
            </div>
            <div class="col-md-6">
              <label for="">Mobile No</label>
              <input type="text" class="form-control" placeholder="Mobile Number"
              name="mobileNo" [(ngModel)]="goalObj.mobileNo" #mobileNo="ngModel" required>
              @if (mobileNo.touched || mobileNo.dirty) {
                <div>
                  @if (mobileNo.errors?.['required']) {
                    <span class="text-danger">Mobile No is required</span>
                  }
                </div>
                }
            </div>
          </div>

          <div class="row ">
            <div class="col-md-12 d-flex justify-content-end gap-4">
              <!-- We need to pass form reference variable here as argument -->
              <button class="btn btn-secondary"(click)="resetGoalList(golaTrackerForm)">Reset</button>
              @if (goalObj.userId==0) {
              <button class="btn btn-success" (click)="postGoalList(golaTrackerForm)"
              [disabled]="golaTrackerForm.invalid">Save</button>
              } @else {
              <button class="btn btn-warning" (click)="putGoalList(golaTrackerForm)">Update</button>
              }
            </div>
        </div>
        </form>
      </div>
      <div class="col-md-12">
        <table>
          <thead>
            <tr>
              <th>S.No</th>
              <th>Email Id</th>
              <th>Password</th>
              <th>Full Name</th>
              <th>Mobile Number</th>
              <th class="d-flex justify-content-center">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (goal of goalList; track $index) {
            <tr>
              <td>{{$index+1}}</td>
              <td>{{goal.emailId}}</td>
              <td>{{goal.password}}</td>
              <td>{{goal.fullName}}</td>
              <td>{{goal.mobileNo}}</td>
              <td>
                <div class="d-flex gap-2 align-items-center justify-content-center">
                   <!-- @for (goal of goalList; track $index) { here what ever you take the item as goal use for edit those item -->
                  <button class="btn btn-sm btn-warning" (click)="editGoalList(goal)">Edit</button>
                  <button class="btn btn-sm btn-danger" (click)="deleteGoalList(goal.userId)">Delete</button>
                </div>
                
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>
    </div>
    <div>

    </div>
  </div>

  <div class="sub-section">
    <h2>Template forms:Employee App: link:https://www.freeprojectapi.com/api.html</h2>

    <div class="row">
      <div class="col-md-12 mb-4">
        <form action="" #empForm="ngForm">
          <div class="row mb-4">
            <div class="col-md-6">
              <label for="">Full Name</label>
              <input type="text" class="form-control" 
              name="fullName" [(ngModel)]="employeeObj.fullName" #fullName="ngModel" [minlength]="5" required="">
              @if (fullName.touched || fullName.dirty) {
                <div>
                  @if (fullName.errors?.["required"]) {
                  <span class="text-danger">Full name is required</span>
                  } @else if(fullName.errors?.["minlength"]) {
                    <span class="text-danger">Min 5 characters Required</span>
                  }
              </div>
              }
            </div>
            <div class="col-md-6">
              <label for="">Email</label>
              <input type="text" class="form-control" 
              name="email" [(ngModel)]="employeeObj.email" #email="ngModel" required email>
              @if (email.touched || email.dirty) {
                <div>
                  @if (email.errors?.["required"]) {
                    <span class="text-danger">Email is required</span>
                  } @else if (email.errors?.["email"]) {
                    <span>Email format is incorrect</span>
                  }
                </div>
              }
            </div>
            <div class="col-md-6">
              <label for="">Phone</label>
              <input type="text" class="form-control" name="phone"
              [(ngModel)]="employeeObj.phone" #phone="ngModel" required minlength="10">
              
              @if (phone.touched || phone.dirty) {
                <div>
                  @if(phone.errors?.["required"]) {
                    <span class="text-danger">Phone number is required</span>
                  } @else if (phone.errors?.["minlength"]) {
                    <span class="text-danger">Min 10 characters required</span>
                  }
                </div>
              }
              <div>

              </div>
            </div>
            <div class="col-md-6">
              <label for="">Gender</label>
              <input type="text" class="form-control" 
              name="gender" [(ngModel)]="employeeObj.gender" #gender="ngModel">

              @if (gender.touched || gender.dirty) {
                @if (gender.errors?.["required"]) {
                  <span class="text-danger">gender is required</span>
                }
              }
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 d-flex gap-4 justify-content-end">
              <button class="btn btn-secondary">Reset</button>
              <button class="btn btn-warning">Update</button>
              <button class="btn btn-success" (click)="saveEmp()">Save</button>
            </div>
          </div>
        </form>
      </div>

      <div class="col-md-12">
        <h4>Employee App Employee list: ()</h4>
        <table>
          <thead>
            <tr>
              <td>Sr.No</td>
              <th>Full Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Gender</th>
              <th>Date Of Joining</th>
              <th>Employee Type</th>
              <th>Salary</th>
              <th>DepartmentName</th>
              <th>DesignationName</th>
            </tr>
          </thead>
          <tbody>
            @for (emp of employeeList; track $index) {
            <tr>
              <td>{{$index+1}}</td>
              <td>{{emp.fullName}}</td>
              <td>{{emp.email}}</td>
              <td>{{emp.phone}}</td>
              <td>{{emp.gender}}</td>
              <td>{{emp.dateOfJoining}}</td>
              <td>{{emp.employeeType}}</td>
              <td>{{emp.salary}}</td>
              <td>{{emp.departmentName}}</td>
              <td>{{emp.designationName}}</td>
            </tr>
          }
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>