<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="card p-4 shadow-lg" style="width: 400px; border-radius: 15px;">
    
    <h3 class="text-center mb-4">Create Account</h3>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <!-- Name -->
      <div class="mb-3">
        <label class="form-label">Full Name</label>
        <input type="text" class="form-control" formControlName="name" placeholder="Enter your name">
        <!-- <small class="text-danger" *ngIf="registerForm.controls.name.touched && registerForm.controls.name.invalid">
          Name is required (min 3 chars)
        </small> -->
      </div>

      <!-- Email -->
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" formControlName="email" placeholder="Enter email">
        <!-- <small class="text-danger" *ngIf="registerForm.controls.email.touched && registerForm.controls.email.invalid">
          Enter valid email
        </small> -->
      </div>

      <!-- Mobile -->
      <div class="mb-3">
        <label class="form-label">Mobile</label>
        <input type="text" class="form-control" formControlName="mobile" placeholder="Enter mobile number">
        <!-- <small class="text-danger" *ngIf="registerForm.controls.['mobile'].touched && registerForm.controls.mobile.invalid">
          Enter valid 10 digit number
        </small> -->
      </div>

      <!-- Password -->
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" formControlName="password" placeholder="Enter password">
      </div>

      <!-- Confirm Password -->
      <div class="mb-3">
        <label class="form-label">Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm password">
      </div>

      <!-- Button -->
      <button type="submit" class="btn btn-primary w-100">Register</button>

    </form>

    <!-- Login Redirect -->
    <div class="text-center mt-3">
      <small>
        Already have an account?
        <a routerLink="/login" class="fw-bold text-decoration-none">Login</a>
      </small>
    </div>

  </div>
</div>