<aside>

  <nav>

    <!-- =====================================
         ADMIN SIDENAV
         ===================================== -->

    @if (isAdmin) {

      <div class="menu-title">
        <strong>ADMIN MENU</strong>
      </div>


      @for (
        item of adminMenuItems;
        track item.route
      ) {

        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: true
          }"
        >

          {{ item.label }}

        </a>

      }

    }


    <!-- =====================================
         USER SIDENAV
         ===================================== -->

    @if (isUser) {

      <div class="menu-title">
        <strong>USER MENU</strong>
      </div>


      @for (
        item of userMenuItems;
        track item.route
      ) {

        <a
          [routerLink]="item.route"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{
            exact: item.exact ?? false
          }"
        >

          {{ item.label }}

        </a>

      }

    }

  </nav>

</aside>