<div class="section">
  <h1>Angular Services Examples</h1>
  <div class="sub-section">
    <h2>Angular Services – Brief Introduction</h2>
    <p> In Angular, a Service is a class used to share data, logic, or functionality across multiple components. </p>
    <p>It follows the Singleton pattern (when provided in root), meaning one shared instance across the application.</p>
    <ul>We use services for:
      <li>API calls (HTTP requests)</li>
      <li>Business logic</li>
      <li>State management</li>
      <li>Data sharing between components</li>
      <li>Reusable utility functions</li>
      <li>Authentication & authorization logic</li>
    </ul>
  </div>




  <div class="sub-section">
    <h2>Mobile List - Example of services</h2>
    @for (m of mobileList; track m) {
      <div>
        {{m}}
      </div>
    }

    <button (click)="addMobile()">Add Mobile</button>
  </div>

  <div class="sub-section">
    <h2>Services - HttpClientModules</h2>
    <p>Need to import provideHttpClient() in app-config.ts in latest angular 17+</p>
    <p>Need to import HttpClientModule in app-module.ts below 17 versions</p>

    <p>We need to import 6httpClient servive using dependency injection through constructor and use the online api call <br>
      constructor(
      private http: HttpClient
      )
    </p>

    <button class="btn btn-danger" (click)="getHttpData()">HTTP Data</button>
    @if(httpData) {
      <div>
        <table>
          <h4>Table Data ({{ httpData.length }})</h4>
          <tr>
            @for (header of tableHeaders; track header) {
              <th>{{header}}</th>
            }
          </tr>
          @for (row of httpData; track row) {
            <tr>
              <td>{{ row.id }}</td>
              <td>{{ row.title }}</td>
              <td>{{ row.price }}</td>
            </tr>
          }
        </table>
      </div>
    }

  </div>
</div>